.form {
  font-family: 'Myriad Pro', sans-serif;
  font-weight: $boldFont;
}
.form__row {
  margin-bottom: rem(20px);  
}
.form__label {
  display: block;
  margin-bottom: rem(5px);
  font-weight: $boldFont;
}
.form__entry {
  background-color: $beige;
  outline: none;
  border: 1px solid $orange;
  padding: 10px;  
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.1);  
  &:focus {
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2); 
  }
}
.form__input {
  width: 55%;
}
.form__textarea {
  width: 90%;
  min-height: rem(180px);
  resize: none;
}
.form__btn {
  border: 1px solid $orange;
  padding: rem(15px) rem(80px);
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.1);
  font-weight: $boldFont;
  transition: .4s;
  &:hover {
    background-color: $orange;
    border-color: #c3c3c4;
    color: #fff;
  }
}