.header {
  background-color: $beige;
  color: #fff;
  height: 100vh;
  padding: 30px 0;
}
.header__container {
  height: 100%;
  width: 95%;
  max-width: 1156px;
  min-height: rem(400px);
  background: url(../img/main__bg.jpg) center center / cover no-repeat;
  justify-content: space-between;
  align-items: center;
}
.header__row {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
}