.pagination {
 display: flex;
 margin-right: rem(60px);
 @include tablets {
  margin: rem(10px);
 }
}
.pagination__item {
  cursor: pointer;
  &.is-active .pagination__link, &:hover .pagination__link {
    border-color: $beige;
  }
}
.pagination__link {
  margin: rem(10px);
  display: block;
  width: 24px;
  height: 8px;
  position: relative;
  border: 1px solid transparent;
  transition: .3s;
  &:after {
    content: "";
    width: 20px;
    height: 4px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: $beige;
    z-index: 0;
  }
}