html {
  height: 100%;
  font-size: 16px;
  @include phones {
    font-size: 14px;
  }
}
body {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: $regularFont;
  font-size: 14px;
  line-height: 1.42;
  color: $darkGrey;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  width: 85%;
  max-width: 1005px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
* {
  box-sizing: border-box;
}