//Переменные цвета
$beige: #e0dccd;
$lightGrey: #c3c3c4;
$grey: #222223;
$darkGrey: #28272a;
$orange: #f2ab7f;

//Переменные начертания
$lightFont: 300;
$regularFont: 400;
$mediumFont: 500;
$boldFont: 700;

//Переменные размера дисплея
$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;
$phones-small: 375px;